:root {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);

  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

  --font-main: "Noto Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
}

body {
  background: var(--light-gradient);
}

main {
  max-width: 1440px;
  margin: 30px auto;
}

.searchBar {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-200);
  padding: 15px;
  border-radius: 15px;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  Box-shadow: 0.5px 0.5px 2px var(--neutral-300);
}

#logo {
  width: 10%;
  min-width: 100px;
}

.modeButton {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modeButton:hover {
  background-color: var(--neutral-300);
}

.modeButton img {
  width: auto;
}

header {
  margin: 50px auto 20px;
  display: flex;
  justify-content: space-between;
}

header span {
  font-size: 25px;
  font-weight: 700;
  color: var(--neutral-900);
}

header button {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-200);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 18px;
  box-shadow: 0.5px 0px 1px var(--neutral-300);
  color: var(--neutral-900);
  cursor: pointer;
  transition: all 0.3s ease;
}

header button:hover {
  color: var(--neutral-600);
}

section {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  /* grid-template-rows: repeat(3, 1fr); */
  column-gap: 15px;
  row-gap: 15px;
}

.extBox {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-200);
  Box-shadow: 0.5px 0.5px 2px var(--neutral-300)var(--neutral-300);
  border-radius: 15px;
  padding: 20px 18px;
  /* max-width: 450px;
  min-width: 0px;
  min-height: 100px; */
  display: grid;
  row-gap: 25px;
}

.extContent {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:  "icon title"
                        "icon desc";
  column-gap: 10px;
  row-gap: 10px;
}

.extContent img {
  grid-area: icon;
  width: 75px;
}

.extContent h2 {
  grid-area: title;
  font-size: 20px;
  font-weight: 700;
  color: var(--neutral-900);
}

.extContent p {
  grid-area: desc;
  font-size: 16px;
  color: var(--neutral-600);
}

.extNav {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.extNav button {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-200);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 18px;
  box-shadow: 0.5px 0px 1px var(--neutral-300);
  color: var(--neutral-900);
  cursor: pointer;
  transition: all 0.3s ease;
}

.extNav button:hover {
  background-color: var(--red-700);
  color: var(--neutral-0);
  border-color: var(--red-700);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--red-700);
  transition: all 0.3s ease;
}

input:checked+.slider:hover {
  background-color: var(--red-500);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--red-700);
}

input:checked+.slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}














.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}